.searchBar {
  display: flex;
  flex-direction: row;
  vertical-align: text-top;
  margin: 20px 10px;
}

.searchBar input {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid black;
}

.searchBar img {
  padding: 0px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}